
#hd{
    font: 12px 'Hiragino Sans GB',"simsun","Arial";
    color: #646464;
    min-width: 1200px;
    background-color: #fff
}
#hd .tools{
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    height: 34px;
    line-height: 34px;
    position: relative;
    z-index: 10010;
}
.tools .top_link {
    width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    height: 34px;
}
.top_link .tools_list{
    float: right;
    padding-top: 2px
}
.tools_list li{
    float: left;
    height: 22px;
    padding-top: 4px;
    line-height: 21px;
    background: url("../css/head_sprite.png") no-repeat left -285px;
    position: relative;
    z-index: 100;
}
.tools_list a{
    display: block;
    position: relative;
    line-height: 21px;
    padding: 0 7px 0 8px;
}
#hd .search_box{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#hd .logo{
    overflow: hidden;
    width: 362px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
}
#hd .search{
    position: absolute;
    margin-top: 20px;
    height: 48px;
    z-index: 9999;
    left: 362px;
    top: 0;
}
.search #form_search_new{
    display: block;
    height: 50px;
}
.search .search_text{
    width: 500px;
    height: 40px;
    border: 2px solid #ff2832;
    padding: 9px 0 9px 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: #323232;
    font: 12px/18px 'Hiragino Sans GB',"simsun",Arial;
    outline: 0;
    background: none;
}
.search .search_button{
    width: 48px;
    height: 40px;
    border: none;
    background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat 0 -346px;
    cursor: pointer;
    position: absolute;
    left: 517px;
    top: 0;
}
#index_left{
    float: left;
    width: 200px;
    background-color: #fafafa;
    position: relative;
    z-index: 40;
    padding: 4px 0;
    height: 480px
}
#index_bottom .footer_copyright{
    line-height: 20px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    color: #8c8c8c;
    padding-top: 10;
    padding-bottom: 50px;
}
.footer_copyright a{
    padding: 0 4px;
    color: #8c8c8c;
    font-size: 12px;
    text-decoration: none;
}
.footer_copyright span.sep{
    margin: 0 17px 0 19px;
}
#index_left #index_center{
    padding-top: 5px;
}

#index_left .all{

    margin-right: 17px;

    text-align: left;
    background: #ff2832;
    position: relative;
}
li {
    list-style: none;
}
.all a{
    padding: 0 0 0 20px;
    display: block;
    width: 171px;
    background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat 161px -567px;
    color: #fff;
    font: 14px/40px "Microsoft Yahei";
    font-weight: bold;
}